.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
} 
a, button {
  cursor: pointer;
}
@font-face {
  font-family: 'Assistant';
  font-display: swap;
  font-weight: 400;
  src: local("Assistant"),
    url("./font/Assistant-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Assistant';
  font-display: swap;
  font-weight: 700;
  src: local("Assistant"),
  url("./font/Assistant-Bold.ttf") format("truetype");
}

body {
   font-family: 'Assistant';
}

:root {
  font-family: Assistant;
  --secondary: #e9e9eb;
  --primary100: #ffebf0;
  --primary200: #ff7898;
  --grey200: #e9e9eb;
  --grey300: #d4d5d8;
  --primary: #ff3e6c;
  --grey800: #282c3f;
  --white: #fff;
  --orange100: #be4a2a;
  --green100: #03a685;
  --yellow100: #ffaa01;
}
